@tailwind base;
@tailwind components;
@tailwind utilities;

.token.tag,
.token.class-name,
.token.selector,
.token.selector .class,
.token.function {
	@apply text-red-400;
}

.token.attr-name,
.token.keyword,
.token.rule,
.token.operator,
.token.pseudo-class,
.token.important {
	@apply text-blue-400;
}

.token.attr-value,
.token.class,
.token.string,
.token.number,
.token.unit,
.token.color {
	@apply text-green-300;
}

.token.punctuation,
.token.module,
.token.property {
	@apply text-blue-200;
}

.token.atapply .token:not(.rule):not(.important) {
	color: inherit;
}

.language-shell .token:not(.comment) {
	color: inherit;
}

.language-css .token.function {
	color: inherit;
}

.token.comment {
	@apply text-gray-400;
}
